# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Saved models & large binaries
*.pkl
*.joblib
*.h5
*.hdf5
*.model



# OS
Thumbs.db
.DS_Store
desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.user

# Logs & temp
*.log
*.tmp
.cache/
